{% extends 'base.html.twig' %}

{% block title %}Home Page
{% endblock %}

{% block body %}

<!-- Afficher la vidéo sur la page d'accueil -->
<div style="margin-top: 10vh; position:relative">
	<video src="img/logo/obtic.mp4" autoplay={true} loop={true} muted={true} width="100%"></video>
	<div class="row  w-75 text-light" id="a-la-une" style="position: absolute; top:20%; left: 12.5%;">
		<div class="col-md-6 " style="position: relative;">


					<p class="" style="font-size:2vw; font-weight:bolder">A la une</p>
					<p class="">
						
						{{recentPost.content}}
						
						
							
					</p>
				<button class="btn btn-lg text-light" style="background-color:#26458A">
					En savoir plus &nbsp;&nbsp;
					<i class="fas fa-arrow-circle-right"></i>
				</button>

		</div>
		<div class="col-md-6 ">
			<p>
				Lorem Ipsum is simply dummy text of the printing and typesetting industry.
				Lorem Ipsum is simply dummy text of the printing and typesetting industry.
			</p>
				<button class="btn btn-lg text-light mb-2" style="background-color:#26458A">
					A propos &nbsp;&nbsp;
					<i class="fas fa-info"></i>
				</button>

			<p>
				Lorem Ipsum is simply dummy text of the printing and typesetting industry.
				Lorem Ipsum is simply dummy text of the printing and typesetting industry.
			</p>
				<button class="btn btn-lg text-light" style="background-color:#26458A">
					Notre équipe &nbsp;&nbsp;
					<i class="fas fa-users"></i>
				</button>
		</div>
	</div>
</div>

<!-- Afficher tous les posts sur la page d'accueil en trois sections -->
<div class="container">
	<section class="actualite">
		<h1 class="mt-3 mb-4">Les Actualités! </h1>
		{% include "./parts/postHomePage.html.twig" with {'posts':actualites, 'count':countActualite} %}
		
	</section>
	<hr>

	<section class="projets" >
		<h1 class="mt-3 mb-4">Nos Projets! </h1>
		{% include "./parts/postHomePage.html.twig" with {'posts':projets, 'count':countProjet} %}
		
	</section>
	<hr>

	<section class="developpements" >
		<h1 class="mt-3 mb-4">Nos Développements!</h1>
		{% include "./parts/postHomePage.html.twig" with {'posts':developpements, 'count':countDeveloppement} %}
		
	</section>
	<hr>

</div>


{% endblock %}

{% block javascripts %}

<script>
		AOS.init();
</script>
{% endblock %}