<div class="row align-items-center">
    <div class="col-6">
        <h3>L’Observatoire de la vie littéraire</h3>
        <p>

            vatoire de la vie littéraire (OBVIL) entend développer toutes les ressources offertes par les applications
            informatiques pour examiner aussi bien la littérature française du passé que la plus contemporaine. Il
            s’intéresse à l’étude des traductions, des transpositions, des adaptations pour comprendre la manière dont
            se
            constituent les canons. Il promeut ainsi une recherche scientifique dans le domaine des Humanités
            numériques.
        </p>
        <p>
            Le médium électronique modifie les pratiques des écrivains, des journalistes, des lecteurs et des
            universitaires, bouleversant ainsi la « vie littéraire ». L’OBVIL est un laboratoire dévolu à l’observation
            et à
            l’analyse des transformations des conditions de la création littéraire et de l'épistémologie critique, qui
            conduisent à s’interroger, selon des perspectives nouvelles, sur les questions qui sont au cœur de la vie
            littéraire depuis cinq siècles, comme celle de la valeur littéraire. La recherche veut s’appuyer sur une
            bibliothèque électronique constituée de corpus d’œuvres et de commentaires critiques numérisés ou recueillis
            grâce au processus de veille électronique, et sur des outils de recherche informatiques innovants élaborés
            par
            les partenaires industriels.
        </p>
        
    </div>
    <div class="col-6">
        <img class="w-100" src="img/post/computer-1245714_1920.jpg" alt="">
    </div>
</div>