

<footer style="background-color: #FBB426;" class="p-3 w-100 mt-5">
    <div class="text-center my-3">
		<a class="navbar-brand" href="{{ path ("home")}}">
			<img src="/img/logo/logo-bleu.png" style="max-width:400px" alt="">
		</a>
	</div>
	<div class="row justify-content-arround">
		<div class="col-md-4 mb-3">
			<a href=""><img src="img/logo/faculte.jpg" class="w-50 d-block m-auto rounded" style="max-width: 200px;" alt=""></a>
		</div>
		<div class="col-md-4 mb-3">
			<a href=""><img src="img/logo/sorbonne.jpg" class="d-block m-auto rounded" style="max-width: 200px;" alt=""></a>
		</div>
		<div class="col-md-4 mb-3">
			<a href=""><img src="img/logo/scai.jpg" class="w-50 d-block m-auto rounded" style="max-width: 200px;" alt=""></a>	
		</div>
	</div>
</footer>