{% extends 'base.html.twig' %}

{% block title %}Edit post{% endblock %}

{% block body %}
<div class="container" style="margin-top: 30vh; ">
        <h1>Editer un article</h1>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary">Sauvgarder l'article</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
